<!--Base.html re présente le gabarit de base des templates html -->
{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Chatroom{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>
<body>
    <header>
        <img src="{% static 'image/symbole.png' %}" alt="Symbole S" title="Sylvain" />
        <p>SYLVAIN'S CHATROOM</p>
        <nav>
            {% if user.is_authenticated %}
            <a href="{% url 'public_chat' %}">MESSAGERIE</a>
            <a href="">CHAT ANONYME</a>
            <a href="">ECRIRE</a>
            {% if user.is_superuser %}
            <a href="{% url 'admin:index' %}">ADMIN</a>
            {% endif %}
            {% else %}
            <a href="{% url 'login' %}">SE CONNECTER</a>
            {% endif %}
        </nav>
    </header>
    {% block content %}{% endblock content %}
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}">Se déconnecter</a>
    {% endif %}
    <footer>
        
    </footer>
</body>
</html>